.text-xs {
	font-size: .7rem;
}
.text-sm {
	font-size: .8rem;
}
.pt-sm {
	padding-top: .85rem;
}

.border-left-primary {
	border-left: .25rem solid #4e73df !important;
}

.border-left-warning {
	border-left: .25rem solid #f6c23e !important;
}

.border-left-info {
	border-left: .25rem solid #36b9cc !important;
}

.border-left-success {
	border-left: .25rem solid #1cc88a !important;
}

.calendar-body {
	overflow: hidden;
}
.timeSlot-group {
	border-bottom: 1px solid #ddd;
	min-height: 120px;
	border-right: 1px solid #ddd;
	min-width: 80px;
	/* display: flex;
	flex-flow: column nowrap; */
}

.event-space {
	position: relative;
}

.event-space:after {
	content: '';
	position: absolute;
	top: 50%;
	width: 100%;
	border: 1px dotted #f4f4f4;
}
.calendar-content {
	overflow-x: hidden;
}
.appointment-event {
	position: absolute;
	z-index: 5;
	padding: 0 15px;
	left: 100px;
	width: 90%;
	text-align: center;
	vertical-align: middle;
	letter-spacing: .03em;
	font-size: 0.8125rem;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s ease;
}

/* appointment status style */

.ready {
	background-color: #467fcf;
	border-color: #467fcf;
}

.inProgress {
	background-color: #1cc88a;
	border-color: #1cc88a;
}
.done,
.canceled {
	background-color: #b6b9bbc7;
	border-color: #b6b9bbc7;
}

/* hover on */
.appointment-event:hover {
	opacity: 0.83;
	color: #00000091;
}

/*appointment windows -  appointment onclick modal style*/
.modal {
	background-color: #00000096;
}

.card .bg-primary {
	background-color: #467fcf !important;
	color: #fff;
}

.closed {
	max-height: 0;
	position: relative;
	padding: 0 !important;
	visibility: hidden;
	transition: max-height 300ms linear;
}

.opened {
	max-height: 300px;
	position: relative;
	visibility: visible;
	padding: 1.25rem !important;
}
