.text-xs {
	font-size: .7rem;
}
.text-sm {
	font-size: .8rem;
}
.pt-sm {
	padding-top: .85rem;
}

.border-left-primary {
	border-left: .25rem solid #4e73df !important;
}

.border-left-warning {
	border-left: .25rem solid #f6c23e !important;
}

.border-left-info {
	border-left: .25rem solid #36b9cc !important;
}

.border-left-success {
	border-left: .25rem solid #1cc88a !important;
}

.timeSlot-group {
	border-bottom: 1px solid #ddd;
	min-height: 60px;
	border-right: 1px solid #ddd;
	min-width: 60px;
	/* display: flex;
	flex-flow: column nowrap; */
}

.event-space {
	position: relative;
}

.event-space:after {
	content: '';
	position: absolute;
	top: 50%;
	width: 100%;

	border: 1px dotted #f4f4f4;
}
.calendar-content {
	overflow-x: hidden;
}
.appointment-event {
	position: absolute;
	z-index: 5;
	left: 80px;
	width: 100%;
}
