header {
	/* flex: 1 100%; */
	/* width: 100%; */
	background-color: #38354a;
	height: calc(50px);
}

/* aside {
	min-width: 250px;
	max-width: 250px;
} */

/* aside.active {
	margin-left: -250px;
} */

/* .logo {
	max-height: 50px;
	width: auto;
} */
